<template>
  <div class="details">
    <h2>Details - {{ countryDetails.Country }}</h2>
    <div v-for="(value, key) in countryDetails" :key="key">
      <p v-if="relevantData(key)">{{ key }} : {{ value }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "CountryDetails",
  props: {
    countryDetails: {
      type: Object,
      required: true,
    },
    slug: {
      type: String,
      required: true,
    },
  },
  methods: {
    relevantData(key) {
      return (
        key === "NewConfirmed" ||
        key === "TotalConfirmed" ||
        key === "NewDeath" ||
        key === "TotalDeath" ||
        key === "NewRecovered" ||
        key === "TotalRecovered"
      );
    },
  },
};
</script>

<style scoped>
.details {
  background: #f5f5f5;
  border: 1px solid #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 25%;
  width: 50%;
}
</style>
