<template>
  <div>
  <div v-if="loading()" class="loading">
    <h1>Fetching recent data...</h1>
  </div>

  <div v-if="error()" class="error">
    <h3>{{ error() }}.</h3>
  </div>

  <h1>24h Covid-19</h1>

  <search-bar
      placeholder="Find your country..."
      @userSearched="userSearched"
  ></search-bar>
    <router-view :key="$route.path"/>
  <div class="tileContainer">
    <tile
        v-for="(countryData, index) in coronaDataFiltered()"
        :key="index"
        :countryTitle="
          countryData.Country.replace(
            new RegExp(searchQuery(), 'gi'),
            (match) => `<mark>${match}</mark>`
          )
        "
        :countryDetails="countryData"
        :countrySlug="String(countryData.Slug)"
        :newInfections="String(countryData.NewConfirmed)"
        :style="[
          countryData.NewConfirmed < 5000
            ? { 'background-color': 'rgb(162, 240, 162)' }
            : countryData.NewConfirmed < 10000
            ? { 'background-color': 'rgb(255, 207, 117)' }
            : { 'background-color': 'rgb(245, 128, 128)' },
        ]"
    >
    </tile>
  </div>
  </div>
</template>

<script>
import SearchBar from "../components/SearchBar";
import Tile from "../components/Tile";
import {mapActions, mapGetters, mapMutations} from "vuex";

export default {
  name: "Home",
  components: {
    // Register the used components
    SearchBar, // SearchBar allows users to enter text and filter the corona data
    Tile, // Tile contains the name of a country and its daily corona infections
  },
  created() {
    this.downloadCoronaData(); // Call the "downloadCoronaData" asynchronous action in the store
  },
  methods: {
    ...mapGetters({
      coronaData: "getAllCoronaData", // map `this.coronaData()` to `this.$store.dispatch('getAllCoronaData')`
      coronaDataFiltered: "getFilteredCoronaData", // map `this.coronaDataFiltered()` to `this.$store.dispatch('getFilteredCoronaData')`
      searchQuery: "getSearchQuery", // map `this.coronaDataFiltered()` to `this.$store.dispatch('getFilteredCoronaData')`
      loading: "getLoading", // map `this.loading()` to `this.$store.dispatch('getLoading')`
      error: "getError", // map `this.error()` to `this.$store.dispatch('getError')`
    }),
    ...mapActions({
      downloadCoronaData: "downloadCoronaData", // map `this.downloadCoronaData()` to `this.$store.dispatch('downloadCoronaData')`
    }),
    ...mapMutations({
      filterCoronaData: "filterCoronaData", // map `this.filterCoronaData()` to `this.$store.dispatch('filterCoronaData')`
    }),
    userSearched(query) {
      this.filterCoronaData(query); // call `this.$store.dispatch('filterCoronaData')` in the store
    },
  },
}
</script>

<style scoped>
.loading,
.error {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
}
.loading h1,
.error h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.tileContainer {
  display: flex;
  margin: 40px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>
