<template>
  <div>
    <h2> 404 Sorry, the page you are looking for doesn't exist. </h2>
    <h3>Go back to
      <router-link :to="{name: 'Home'}">Home</router-link>
    </h3>
  </div>

</template>

<script>
export default {
  name: "NotFound"
}
</script>

<style scoped>

</style>
