<template>
  <nav id="nav">
    <ul class="nav-links">
      <li class="links">
        <router-link to="/">Home</router-link>
      </li>
      <Li>
        <router-link :to="{name: 'About'}">About</router-link>
      </Li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "NavigationBar"
}
</script>

<style scoped>
#nav{
  display: flex;
}

#nav {
  padding: 30px;
}

#nav a {
  color: #2c3e50;
  text-decoration: none;
  font-weight: bold;
}

#nav a.router-link-exact-active {
  color: lightslategrey;
}
.nav-links{
  display: flex;
}
.links{
  padding-right: 20px;
  list-style: none;
}
.links:hover{
  text-decoration: underline;
}
</style>
