<template lang="en">
  <div>
    <input type="text" ref="searchBar" @input="userInput()" :placeholder="placeholder">
  </div>
</template>

<script>

export default {
  name: "SearchBar",
  props: {
    placeholder: String,
  },
  methods : {
      userInput() {
          this.$emit('userSearched', this.$refs.searchBar.value);
      }
  }
};
</script>

<style>
input[type="text"] {
  font-size: 23px;
  padding: 20px;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  text-align: center;
}
</style>
