<template lang="en">
  <div class="tile">
    <router-link style="text-decoration: none" :to="{name: 'CountryDetails', params: {countryDetails: countryDetails, slug: countrySlug}}">
      <h1 v-html="countryTitle"></h1>
      <h2>{{newInfections}}</h2>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Tile",
  props: {
    countryTitle: String,
    newInfections: String,
    countrySlug: String,
    countryDetails: {},
  },
};
</script>

<style>
.tile {
  background-color: white;
  padding: 10px 40px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
h1 {
  color: black;
}
h2 {
  color: rgb(69, 69, 69);
  font-weight: 500;
}
</style>
