<template>
  <div id="app">
    <NavigationBar />
    <router-view :key="$route.path" />
  </div>
</template>

<script>
import NavigationBar from "./components/NavigationBar";

export default {
  name: "app",
  components: {
    NavigationBar // Register the used components
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

</style>