<template>
  <html>
    <head>
      <meta charset="utf-8" />
      <title>24h Covid-19</title>
    </head>

    <body>
      <div id="app">
        <div v-if="loading" class="loading">
          <h1>Fetching recent data...</h1>
        </div>

        <div v-if="error" class="error">
          <h3>{{ error }}.</h3>
        </div>

        <div v-if="coronaData">
          <h1>24h Covid-19</h1>
          <search-bar
            placeholder="Find your country..."
            @userSearched="userSearched"
          ></search-bar>
          <div class="tileContainer">
            <tile
              v-for="(countryData, index) in coronaDataFiltered"
              :key="index"
              :countryTitle="
                countryData.Country.replace(
                  new RegExp(searchQuery, 'gi'),
                  (match) => `<mark>${match}</mark>`
                )
              "
              :newInfections="String(countryData.NewConfirmed)"
              :style="[
                countryData.NewConfirmed < 5000
                  ? { 'background-color': 'rgb(162, 240, 162)' }
                  : countryData.NewConfirmed < 10000
                  ? { 'background-color': 'rgb(255, 207, 117)' }
                  : { 'background-color': 'rgb(245, 128, 128)' },
              ]"
            ></tile>
          </div>
        </div>
      </div>
    </body>
  </html>
</template>

<script>
import SearchBar from "./components/SearchBar";
import Tile from "./components/Tile";

export default {
  name: "App",
  components: {
    SearchBar,
    Tile,
  },
  data() {
    return {
      coronaData: null,
      coronaDataFiltered: null,
      loading: false,
      error: null,
      searchQuery: "",
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.loading = true;
      fetch("https://api.covid19api.com/summary")
        .then((response) => response.json())
        .then((data) => {
          setTimeout(() => {
            this.coronaData = data["Countries"];
            this.coronaData.sort(function(a, b) {
              if (a.NewConfirmed < b.NewConfirmed) return 1;
              if (a.NewConfirmed > b.NewConfirmed) return -1;
              return 0;
            });
            this.coronaDataFiltered = this.coronaData;
            this.loading = false;
            this.error = false;
          }, 1000);
        })
        .catch((error) => {
          this.error = error;
        });
    },
    userSearched(query) {
      this.searchQuery = query;
      if (query === "") {
        this.coronaDataFiltered = this.coronaData;
      } else {
        this.coronaDataFiltered = this.coronaData.filter(function(a) {
          return a.Country.toLowerCase().indexOf(query.toLowerCase()) !== -1;
        });
      }
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.loading,
.error {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
}
.loading h1,
.error h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.tileContainer {
  display: flex;
  margin: 40px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>
